blinker==1.8.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.0
cycler==0.12.1
Flask==3.0.3
fonttools==4.46.0
idna==3.7
instaloader==4.11
itsdangerous==2.2.0
Jinja2==3.1.4
kiwisolver==1.4.5
MarkupSafe==3.0.2
matplotlib==3.8.2
numpy==1.26.2
packaging==23.2
Pillow==10.1.0
progressbar2==4.4.2
psycopg2==2.9.9
pygam==0.9.1
pygame==2.5.2
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-utils==3.8.2
redis==5.1.1
requests==2.31.0
scipy==1.11.4
six==1.16.0
spotipy==2.24.0
typing_extensions==4.11.0
urllib3==2.2.1
Werkzeug==3.1.2
